<%= render 'common/top_nav' %>

<div class='Representations'>
  <% @representations.each do |representation| %>
    <%= link_to representation.url,
      class: "Representation Representation--#{path_type(representation.url)} Representation--#{representation.mode} Representation--#{representation.images.size > 0 ? 'images' : 'text'}",
      target: target(representation.url) do %>
      <% if representation.images.size > 0 %>
        <% representation.images.each do |image| %>
          <span class='Representation__image'>
            <picture>
              <source
                media='(min-width: <%= image.thumb.width %>px)'
                srcset='<%= image.thumb.urls._1x %> 1x, <%= image.thumb.urls._2x %> 2x'>
              <source
                media='(min-width: <%= image.mobile.width %>px)'
                srcset='<%= image.mobile.urls._1x %> 1x, <%= image.mobile.urls._2x %> 2x'>
              <img
                src='<%= image.thumb.urls._1x %>'
                alt='<%= [representation.title, representation.description].compact.join('; ') %>'
                title='<%= representation.title %>'>
            </picture>

            <div class='Representation__image__caption'>
              <%= representation.title %>
            </div>
          </span>
        <% end %>
      <% else %>
        <span class='Representation__text'>
          <%= representation.title %>
        </span>
      <% end %>
    <% end %>
    <% if params[:debug].present? %>
      <pre>
        <%= "#{representation.title} | #{representation.id} | #{representation.images&.first&.id}" %>
      </pre>
    <% end %>
  <% end %>
</div>
