<nav class='top-nav'>
  <h1>
    Damon Zucconi
  </h1>

  <%= render 'common/nav' %>
</nav>

<div class='representations'>
  <% @representations.each do |representation| %>
    <%= link_to representation.url,
      class: "representation representation--#{path_type(representation.url)} representation--#{representation.mode} representation--#{representation.images.size > 0 ? 'images' : 'text'}",
      target: target(representation.url) do %>
      <% if representation.images.size > 0 %>
        <% representation.images.each do |image| %>
          <span class='representation__image'>
            <picture>
              <source
                media='(min-width: <%= image.thumb.width %>px)'
                srcset='<%= image.thumb.urls._1x %> 1x, <%= image.thumb.urls._2x %> 2x'>
              <source
                media='(min-width: <%= image.mobile.width %>px)'
                srcset='<%= image.mobile.urls._1x %> 1x, <%= image.mobile.urls._2x %> 2x'>
              <img
                src='<%= image.thumb.urls._1x %>'
                alt='<%= [representation.title, representation.description].compact.join('; ') %>'
                title='<%= representation.title %>'>
            </picture>

            <span class='representation__image__caption'>
              <span><%= representation.title %></span>
            </span>
          </span>
        <% end %>
      <% else %>
        <span class='representation__text'>
          <%= representation.title %>
        </span>
      <% end %>
    <% end %>
    <% if params[:debug].present? %>
      <pre>
        <%= "#{representation.title} | #{representation.id} | #{representation.images&.first&.id}" %>
      </pre>
    <% end %>
  <% end %>
</div>
