<div class='artworks'>
  <% @artworks.each do |artwork| %>
    <%= link_to "/artworks/#{artwork.slug}", class: 'artworks__artwork' do %>
      <% if artwork.images.size > 0 %>
        <% image = artwork.images.first %>
        <span class='artworks__artwork__image'>
          <picture>
            <source
              media='(min-width: <%= image.thumb.width %>px)'
              srcset='<%= image.thumb.urls._1x %> 1x, <%= image.thumb.urls._2x %> 2x'>
            <img
              src='<%= image.thumb.urls._1x %>'
              alt='<%= artwork.title %>'
              title='<%= artwork.title %>'>
          </picture>
        </span>
      <% else %>
        <span class='artworks__artwork__text'>
          <%= artwork.title %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>
