<%= content_for :title { 'All Work' } %>

<%= render 'common/top_nav' %>

<div class='Artworks'>
  <% @artworks.each do |artwork| %>
    <%= link_to artwork_path(artwork.slug), class: "Artworks__artwork #{artwork.state == 'selected' ? 'Artworks__artwork--selected' : ''}" do %>
      <% if artwork.images.size > 0 %>
        <% artwork.images.each do |image| %>
          <picture class='Artworks__artwork__image'>
            <source
              media='(min-width: <%= image.thumb.width %>px)'
              srcset='<%= image.thumb.urls._1x %> 1x, <%= image.thumb.urls._2x %> 2x'>
            <img
              src='<%= image.thumb.urls._1x %>'
              alt='<%= artwork.title %>'
              title='<%= artwork.title %>'
              width='<%= image.thumb.width %>'
              height='<%= image.thumb.height %>'>
          </picture>
        <% end %>
      <% else %>
        <span class='Artworks__artwork__text'>
          <%= artwork.title %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</div>
