<%= content_for :title { 'CV' } %>

<%= render 'common/top_nav' %>

<div class='Page'>
  <div class='CV'>
    <% @cv.categories.each do |category, years| %>
      <div class='CVCategory'>
        <h2><%= category %></h2>
        <div class='CVYears'>
          <% years.each do |year, rows| %>
            <div class='CVYear'>
              <h3><%= year %></h3>
              <div class='CVRows'>
                <% rows.each do |row| %>
                  <div class='CVRow'>
                    <%= [
                      (row.url ? link_to(row.title, row.url, target: '_blank') : row.title),
                      row.venue,
                      row.city,
                      row.region,
                      row.country,
                      row.notes
                    ].compact.join(', ').html_safe %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
