<%= render 'common/sidebar', sidebar: @sidebar %>

<div class='page'>
  <h1>Damon Zucconi</h1>

  <p>
    Philadelphia, PA
  </p>

  <p>
    <%= link_to 'mail@damonzucconi.com', 'mailto:mail@damonzucconi.com' %><br>
    <%= link_to 'Twitter @dzucconi', 'https://twitter.com/dzucconi', target: '_blank' %><br>
    <%= link_to 'Instagram @damonzucconi', 'https://www.instagram.com/damonzucconi/', target: '_blank' %>
  </p>

  <p>
    <%= link_to 'CV', 'http://damon.zucconi.info/cv' %>
  </p>

  <p>
    <%= link_to 'JTT, New York', 'http://www.jttnyc.com/6953,6954,6956', target: '_blank', title: 'Damon Zucconi at JTT' %>
  </p>

  <p>
    <%= link_to 'Studio', 'http://atlas.damonzucconi.com/studio', target: '_blank' %><br>
    <%= link_to 'reticular.info', 'http://www.reticular.info/', target: '_blank' %><br>
    <%= link_to 'Links with Query Strings', 'http://links.damonzucconi.com/', target: '_blank' %><br>
    <%= link_to 'Strata', 'http://strata.damonzucconi.com/', target: '_blank' %><br>
    <%= link_to 'Atlas', 'http://atlas.damonzucconi.com/', target: '_blank' %>
  </p>

  <p>
    <%= link_to 'Are.na', 'http://www.are.na/users/damon-zucconi', target: '_blank' %><br>
    <%= link_to 'Github', 'https://github.com/dzucconi', target: '_blank' %><br>
    <%= link_to 'Artsy', 'https://www.artsy.net/artist/damon-zucconi', target: '_blank' %>
  </p>
</div>
