<div class='artwork__tombstone'>
  <h1 class='artwork__tombstone__title'>
    <%= artwork.title %>
  </h1>

  <% if artwork.material %>
    <div class='artwork__tombstone__material'>
      <%= artwork.material %>
    </div>
  <% end %>

  <% if artwork.dimensions %>
    <div class='artwork__tombstone__dimensions'>
      <%= artwork.dimensions.inches %>
      (<%= artwork.dimensions.centimeters %>)
    </div>
  <% end %>

  <% if artwork.duration %>
    <div class='artwork__tombstone__duration'>
      <%= artwork.duration %>
    </div>
  <% end %>

  <div class='artwork__tombstone__year'>
    <%= artwork.year %>
  </div>

  <% if artwork.description %>
    <div class='artwork__tombstone__description'>
      <%= artwork.description.html_safe %>
    </div>
  <% end %>
</div>
