<div class='ArtworkTombstone'>
  <h1 class='ArtworkTombstone__title'>
    <%= artwork.title %>
  </h1>

  <% if artwork.material %>
    <div class='ArtworkTombstone__material'>
      <%= artwork.material %>
    </div>
  <% end %>

  <% if artwork.dimensions %>
    <div class='ArtworkTombstone__dimensions'>
      <%= artwork.dimensions.inches %>
      (<%= artwork.dimensions.centimeters %>)
    </div>
  <% end %>

  <% if artwork.duration %>
    <div class='ArtworkTombstone__duration'>
      <%= artwork.duration %>
    </div>
  <% end %>

  <div class='ArtworkTombstone__year'>
    <%= artwork.year %>
  </div>

  <% if artwork.description %>
    <div class='ArtworkTombstone__description'>
      <%= artwork.description.html_safe %>
    </div>
  <% end %>

  <% if artwork.src %>
    <a
      class='ArtworkTombstone__src'
      title='<%= artwork.src %>'
      href='<%= artwork.src %>'
      target='_blank'
    >
      <%= prettify_url(artwork.src) %>
    </a>
  <% end %>
</div>
