<div class='Sidebar <%= sidebar_state %>'>
  <% if content_for? :sidebar %>
    <div class='Sidebar__supplemental'>
      <%= content_for :sidebar %>
    </div>
  <% end %>

  <a class='Sidebar__toggle'>
    <span></span>
  </a>

  <div class='Sidebar__menu'>
    <%= nav_link 'Not Everything', :root, class: 'Sidebar__menu__link' %>
    <%= nav_link 'Mostly Everything', artworks_path, class: 'Sidebar__menu__link' %>
    <%= nav_link 'Other Information', information_path, class: 'Sidebar__menu__link' %>

    <hr>

    <% sidebar.artworks.each do |link| %>
      <%= nav_link link.title, link.path,
        class: "Sidebar__menu__link Sidebar__menu__link--#{link.emphasis? ? 'emphasis' : 'default'}" %>
    <% end %>

    <hr>

    <% sidebar.exhibitions.each do |link| %>
      <%= nav_link link.title, link.path,
        class: "Sidebar__menu__link Sidebar__menu__link--#{link.emphasis? ? 'emphasis' : 'default'}" %>
    <% end %>
  </div>
</div>
