<div class='Sidebar <%= sidebar_state %>'>
  <% if content_for? :sidebar %>
    <div class='Sidebar__supplemental'>
      <%= content_for :sidebar %>
    </div>
  <% end %>

  <a class='Sidebar__toggle'>
    <span></span>
  </a>

  <div class='Sidebar__menu'>
    <%= nav_link 'Damon Zucconi', :root, class: 'Sidebar__menu__link' %>
    <%= nav_link 'Information', information_path, class: 'Sidebar__menu__link' %>
    <%= nav_link 'Subscribe', subscribe_path, class: 'Sidebar__menu__link' %>
    <%= nav_link 'All', artworks_path, class: 'Sidebar__menu__link' %>

    <hr>

    <% sidebar.exhibitions.each do |exhibition| %>
      <%= nav_link exhibition.title, exhibition_path(exhibition.slug), class: 'Sidebar__menu__link' %>
    <% end %>

    <hr>

    <% sidebar.artworks.each do |artwork| %>
      <%= nav_link artwork.title, artwork_path(artwork.slug), class: 'Sidebar__menu__link' %>
    <% end %>
  </div>
</div>
