<!doctype html>
<html>
  <head>
    <title><%= [content_for(:title), 'Damon Zucconi'].compact.join(' / ') %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <%= render 'common/sidebar', sidebar: @sidebar %>
  </body>
</html>
